{% extends 'password_reset_base.html' %}
{% block title %}Forgot Password{% endblock %}
{% block content %}
<h1>Reset your password</h1>
<p>Enter the email address linked to your account. If it exists, we will send you a secure reset link.</p>
<form method="post">
    {% csrf_token %}
    {{ form.email.errors }}
    <label for="id_email">Email address</label>
    <input type="email" name="email" id="id_email" autocomplete="email" required autofocus>
    <button type="submit">Send reset link</button>
</form>
<a class="back-link" href="{% url 'login' %}">Back to sign in</a>
{% endblock %}
