Django==5.2.8
django-allauth==65.13.0
gunicorn==23.0.0
whitenoise==6.9.0
dj-database-url==2.3.0
python-dotenv==1.0.1
psycopg2-binary==2.9.10
pandas==2.3.2
numpy==2.3.2
scikit-learn==1.7.2
reportlab==4.2.2
requests==2.32.3
PyJWT==2.10.1
cryptography==43.0.3
